body {
  background-color: #EDF2F3 !important;
}
a {
  text-decoration: none !important;
}

footer {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

.offcanvas {
   background-color: rgba(0, 0, 0, 0.7) !important;
   color: #ffffff !important;
}
.offcanvas .btn-close {
  color: #ffffff !important;
}
.offcanvas ul {
  list-style: none;
}.offcanvas ul a {
  color: #ffffff;
}

.mainBgImg {
  z-index: -1;
}

.socialSideBar {
  position: absolute;
  background-color: #FF0000;
  bottom: 5%;
  left: 0;
  border-start-end-radius: 1em;
  border-end-end-radius: 1em;
}
.socialSideBar a:hover {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0.5em;
}

.userManagementForm .form-control {
  border-radius: 1.5em;
}
.userManagementForm .form-control {
  background: transparent;
  color: #ffffff;
}
.userManagementForm .form-control:focus{
  background: transparent;
  color: #ffffff;
}
.userManagementForm .form-control::placeholder{
  color: #ffffff;
}
.userManagement a {
  color: #ffffff;
}

.homePageImage {
  background-image: url(images/bgImg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.homePage {
  padding-top: 15%;
  padding-bottom: 5%;
}
.searchImg-input {
  background: transparent !important;
  border-right: none !important;
  border-top-left-radius: 2em !important;
  border-bottom-left-radius: 2em !important;
  padding-left: 2em !important;
  padding-right: 1em !important;
  height: 3.5em;
}
.searchInput input {
  background: transparent !important;
  border-left: none;
  border-top-right-radius: 2em !important;
  border-bottom-right-radius: 2em !important;
  color: #ffffff !important;
  font-size: 20px !important;
}

.react-calendar {
  border: #ffffff 1px solid;
  padding: 1em;
  border-radius: 1.5em;
}
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}
.react-calendar__navigation {
  text-align: center;
  margin-bottom: 0.5em;
}
.react-calendar__navigation button,
.react-calendar__year-view__months__month,
.react-calendar__decade-view__years__year,
.react-calendar__century-view__decades__decade {
  background: transparent;
  border: none;
  color: #ffffff;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  color: #ffffff;
  margin-bottom: 0.5em;
  border-bottom: #ffffff 1px solid;
}
.react-calendar__month-view__weekdays abbr {
  text-decoration: none !important;
}
.react-calendar__month-view__days button {
  border: none;
  padding: 0.5em;
  background: transparent;
  color: #ffffff;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: rgba(255, 255, 255, 0.5) !important;
}
.react-calendar__month-view__days abbr {
  padding: 0.3em;
}
.react-calendar__tile--active abbr {
  background: rgba(165, 0, 0, 0.4);
  border: #a50000 solid 1px;
  border-radius: 1.5em;
}
.react-calendar__tile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.react-calendar__tile svg {
  margin: 0 1px;
}

.dailyMatches {
  max-height: 15em;
  overflow-y: auto;
}

.myButton {
  border-radius: 1.5em !important;
}
.blueButton {
  background-color: #425465;
}

.noPage{
  height: 100vh;
}

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 3px;
  top: 20rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a50000;
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.myScrollbar {
  position: absolute;
  right: 3rem;
  top: 40%;
  height: 40vh;
  width: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
}

.scrollbarInside {
  position: relative;
  width: 100%;
  background-color: #a50000;
  border-radius: 0.5rem;
}
